<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login To Pinterest</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}" /> -->
    <script src="https://github.highcharts.com/master/highcharts.js"></script>
    <script src="https://github.highcharts.com/master/highcharts-more.js"></script>
    <script src="https://github.highcharts.com/master/modules/exporting.js"></script>

    <style>
        #container {
            min-width: 320px;
            max-width: 800px;
            margin: 0 auto;
        }

        article>p {
            font-family: 'Questrial', sans-serif;
            font-size: 14px;
        }
    </style>

</head>

<body>
    <section class="hero is-small is-light is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h2 class="subtitle">
                    If you have downloaded any image searches to the server, those searches will be listed in the field
                    below. Select a search, and then Peek at the images or use the Analyze This Folder button to explore
                    the results. To save images, select Download This Folder to Your Local PC.
                </h2>
            </div>
        </div>
    </section>
    <div class="columns">
        <section class="column is-multiple is-half">
            <div class="column has-text-centered">
                <div>
                    <!-- <p>Upload Key</p> -->

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    </p>
                    <!-- <form method="post" action="/" enctype="multipart/form-data">
                        <dl>
                            <div class="file is-medium is-centered is-boxed has-name">

                                <label class="file-label">
                                    <input class="file-input" type="file" name="file" autocomplete="off" required>
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas icon-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            API Key (for Administrators) / Submit Administration Key
                                        </span>
                                    </span>
                                    <span class="file-name is-centered">

                                    </span>
                                </label>
                            </div>


                        </dl>
                        <p>
                            <input class='button' type="submit" value="Submit"
                                style="margin-top: 10px; margin-bottom: 15px;">
                        </p>
                    </form> 
                </div>-->
                    <div class="select is-multiple">
                        <select multiple size="8" id="folders_to_select">
                            {% for key in data %}
                            <option value="{{key}}"> {{key}}</option>
                            {% endfor%}
                        </select>
                    </div>

                    <form>
                        <div class="notification is-light" style="margin-top: 15px; margin-left: auto;margin-right: auto;width: 60%;margin-bottom: 0;">
                            <button class="delete"></button>
                            If you do not see any searches listed in the field above, please <a href="/back">click here to go back</a>
                            to the search results and select Download Images to the Server.
                        </div>
                        <!-- <p>If you do not see any searches listed in the field above, please <a href="/back">go back</a>
                            to the search results and select Download Images to the Server.</p> -->
                        <div class="button is-primary" id="ana" style="margin-top: 10px;">Peek in This Folder</div>
                        <button class="button is-primary" id="testing1" style="margin-top: 10px;">Analyze This
                            Folder</button>
                    </form>

                    <form action="/download_folder" method="post" style="margin-top: 10px;">
                        <input type="hidden" class='current_select' name="folder">
                        <button class="button is-primary is-light" id="dfl">Download This Folder to Your Local
                            PC</button>

                    </form>

                    <!-- <button class="button is-warning is-light" id="ts1" style="margin-top: 10px;">Testing Button</button> -->

                    <div class="box" id="folderinfo" style="display: none; margin-top: 10px;"></div>




                </div>

        </section>

        <section class="column is-multiple is-half" id='viz'>



            <!-- <p>This is an example of loading your viz</p> -->
            <p class='has-text-centered' style="font-size: medium;">After selecting the "Analyze This Folder" button,
                visualizations will appear here. <br> It may take up to several minutes for results to appear. </p>
            <div id='proc'>
                <!--<p>Label Wordcloud</p>
                <img id='lb'>-->
                <div class='has-text-centered' id="vizwrap" style="display:none">
                    <form action="/download_analysis_res" method="post" style="margin-top: 10px;">
                        <input type="hidden" class='current_select' name="folder">
                        <button class="button is-primary is-light" id="downana">Download The Anaysis Results to Your
                            Local PC</button>
                    </form>
                    <!-- <button class="button is-primary is-light" id="downana">Download The Anaysis Results to Your Local PC</button> -->
                    <div class="tile is-parent is-8" style="margin-left: auto;margin-right: auto;">
                        <article class="tile is-child notification" style="padding: 5%">
                            <p>Description Wordcloud – What descriptions are on these images?</p>
                            <figure class="image is-16by9">
                                <img id='ds'>
                            </figure>
                        </article>
                    </div>


                    <div class="tile is-parent is-8" style="margin-left: auto;margin-right: auto;">
                        <article class="tile is-child notification" style="padding: 5%">
                            <p>Domain Wordcloud – What domains provide these images?</p>
                            <figure class="image is-16by9">
                                <img id='do'>
                            </figure>
                        </article>
                    </div>


                    <div class="tile is-parent is-8" style="margin-left: auto;margin-right: auto;">
                        <article class="tile is-child notification" style="padding: 5%">
                            <p>Board Wordcloud – What boards are these images attached to?</p>
                            <figure class="image is-16by9">
                                <img id='bo'>
                            </figure>
                        </article>
                    </div>


                    <div class="tile is-parent is-8" style="margin-left: auto;margin-right: auto;">
                        <article class="tile is-child notification" style="padding: 5%">
                            <p>Promoter Wordcloud – What promoters are promoting on this search?</p>
                            <figure class="image is-16by9">
                                <img id='pm'>
                            </figure>
                        </article>
                    </div>


                    <div class="tile is-parent is-8" style="margin-left: auto;margin-right: auto;">
                        <article class="tile is-child notification" style="padding: 5%">
                            <p>Date Graph – What year are these images created?</p>
                            <figure class="image is-16by9">
                                <img id='dg'>
                            </figure>
                        </article>
                    </div>
                </div>

                <!-- <p>Description Wordcloud</p>
                    <img id='ds'>
                    <p>Domain Wordcloud</p>
                    <img id='do'>
                    <p>Board Wordcloud</p>
                    <img id='bo'>
                    <p>Promoter Wordcloud</p>
                    <img id='pm'>
                    <p>Date Graph</p>
                    <img id='dg'> -->
            </div>


    </div>



    </section>




    </div>



    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <div class="soc">
                    <a href="#"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
                </div>
                <p>
                    <strong>Initiated</strong> by
                    <a href="https://cdh.unc.edu/">Digital Innovation Lab</a>.
                    <br />
                </p>
            </div>
        </div>
    </footer>
</body>
<script>
    $(document).ready(function () {

        // const fileInput = document.querySelector(' input[type=file]');
        // fileInput.onchange = () => {
        //     if (fileInput.files.length > 0) {
        //         const fileName = document.querySelector('.file-name');

        //         fileName.textContent = fileInput.files[0].name;
        //     }
        // }

        $('.delete').click(function(){
       
       $notification = $('.delete').parent().remove()
       // $notification.parent().removeChild($notification)
   })


        $('#folders_to_select').change(function () {
            console.log($("option:selected").text())
            $('.current_select').attr('value', $("option:selected").text())

        })

        $('#ana').click(function () {
            dir_name = $("option:selected").text()
            $.ajax({
                url: "/get_folder",
                type: "get",
                data: {
                    name: dir_name
                },
                success: function (response) {
                    $('#folderinfo').empty()
                    $('#folderinfo').css('display', 'block')
                    imgs = response['result']['array']
                    overview = response['result']['summary']
                    // console.log(overview)
                    $('#folderinfo').append(
                        '<div class="tag is-primary" style="margin-top:10px;margin-bottom:15px">There are ' +
                        imgs
                        .length + ' pics in this folder.</div><br>')
                    imgs.forEach(element => {
                        let $img = $('<img>')
                        $img.attr('src', '/static/Pics' + '/' + dir_name.trim() +
                            '/' + element)
                        $img.attr('width', '100px')
                        $img.attr('height', '100px')
                        $('#folderinfo').append($img)
                    });
                    // $('#folderinfo').append('<div class="tag">')
                }
            })





        });

        $('#downana').click(function () {
            dir_name = $("option:selected").text()


        })


        // $('#testing1').click(function () {
        //     dir_name = $("option:selected").text()
        //     console.log("triggered")
        //     $('#vizwrap').css('display', 'block')
        //     $.ajax({
        //         url: "/get_folder",
        //         type: "get",
        //         data: {
        //             name: dir_name
        //         },
        //         success: function (response) {
        //             console.log(response)
        //         }
        // })})

        $('#testing1').click(function (e) {
            e.preventDefault()
            console.log("triggered")
            dir_name = $("option:selected").text()
            $('#vizwrap').css('display', 'block')
            $('figure > img').attr('src', '/static/54.svg')
            $.ajax({
                url: "/run_analysis",
                type: "get",
                data: {
                    name: dir_name
                },

                success: function (response) {
                    console.log('testing yes')
                    console.log(response)

                    $divs = $('#proc')
                    $('figure > img').attr('src', '')
                    //$('#lb').attr('src',response['res'][0])
                    $('#ds').attr('src', response['res'][0])
                    $('#do').attr('src', response['res'][1])
                    $('#bo').attr('src', response['res'][2])
                    $('#pm').attr('src', response['res'][3])
                    $('#dg').attr('src', response['res'][4])



                },
                error: function (xhr, status, error) {
                    console.log(xhr)
                    //Error codec
                }
            })



        })



    })
</script>

</html>