<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login To Pinterest</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="index.js"></script> -->

    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">

</head>

<body>
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-black">Login</h3>
                    <hr class="login-hr">
                    <!-- <p class="subtitle has-text-black">Please login first. Then you can search and scrap images.</p> -->
                    {% if error=='404' %}
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        Please login again. You might have entered the wrong username, email, or password.
                    </div>
                    {% elif error=='401' %}

                    <div class="notification is-danger">
                        <button class="delete"></button>
                        Please login again. You might have entered the wrong username, email, or password.
                        
                    </div>
                    {% elif error=='429' %}

                    <div class="notification is-danger">
                        <button class="delete"></button>
                        You have tried to many times. Please try again later.
                    </div>
                    {% endif %}
                    <div class="box">
                        <figure class="avatar is-96x96">
                            <img style="width: 60%;" src="https://i.pinimg.com/originals/95/84/c8/9584c88ce09f172901c9168628531f65.png">
                        </figure>
                        <form action="/login" method="post">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="email" placeholder="Your Email" name='email'
                                        autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="username" name='username'
                                        placeholder="Your Username">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" name='password'
                                        placeholder="Your Password">
                                </div>
                            </div>
                            <!-- <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Remember me
                                </label>
                            </div> -->
                            <button class="button is-block is-info is-large is-fullwidth">Login <i class="fa fa-sign-in"
                                    aria-hidden="true"></i></button>
                            
                        </form>
                        <button style="margin-top: 6pt" onclick="location.href='https://reichyang.github.io/pin.github.io/';" class="button is-block is-info is-large is-fullwidth">Help/Instructions<i class="fa fa-book"
                                        aria-hidden="true"></i></button>
                    </div>

                </div>
            </div>
        </div>
    </section>

</body>
<script>
    $('.delete').click(function(){
       
        $notification = $('.delete').parent().remove()
        // $notification.parent().removeChild($notification)
    })


</script>

</html>